.image{
  width: 400px;
  height: 300px;
}

.container1{
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  gap: 10rem;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.containerAuto{
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.container2{
  display: flex;
  flex-direction: row;
  gap: 37rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;

}

.containerTudo{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-color: black;
}